#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

/ {
    macros {
        to_mac: to_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &bt BT_SEL 0>;
            label = "TO_MAC";
        };

        to_win: to_win {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 4 &bt BT_SEL 1>;
            label = "TO_WIN";
        };

        cerr: cerr {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap_time 1>,
                <&none &kp S &kp T &kp D &kp COLON &kp COLON &kp C &kp E &kp R &kp R &kp SPACE &kp LT &kp LT &kp SPACE &kp SPACE &kp LT &kp LT &kp SPACE &kp S &kp T &kp D &kp COLON &kp COLON &kp E &kp N &kp D &kp L &kp SEMI &kp LEFT>;

            label = "CERR";
        };

        debug: debug {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap_time 20>,
                <&none &kp LS(R) &kp LS(A) &kp LS(I) &kp LS(L) &kp UNDER &kp LS(D) &kp LS(E) &kp LS(B) &kp LS(U) &kp LS(G) &kp LPAR &kp RPAR &kp SEMI &kp LEFT &kp LEFT>;

            label = "DEBUG";
        };

        to_phone: to_phone {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 5 &bt BT_SEL 2>;
            label = "TO_PHONE";
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_capslock {
            timeout-ms = <100>;
            bindings = <&kp CAPSLOCK>;
            key-positions = <36 49>;
        };
    };

    behaviors {
        f14_or_sleep: f14_or_sleep {
            compatible = "zmk,behavior-tap-dance";
            label = "F14_OR_SLEEP";
            #binding-cells = <0>;
            bindings = <&kp F14>, <&kp K_SLEEP>;

            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "mac";
            bindings = <
&kp ESC     &kp N1   &kp N2  &kp N3     &kp N4    &lt 10 NUMBER_5                                         &kp N6         &kp N7     &kp N8     &kp N9   &kp N0           &kp DELETE
&kp TAB     &lt 1 Q  &kp W   &kp E      &kp R     &kp T                                                   &kp Y          &kp U      &kp I      &kp O    &kp P            &kp BACKSLASH
&kp SQT     &lt 2 A  &kp S   &kp D      &kp F     &kp G                                                   &kp H          &kp J      &kp K      &kp L    &lt 3 SEMICOLON  &kp MINUS
&kp LSHIFT  &lt 9 Z  &kp X   &kp C      &kp V     &kp B            &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp N          &kp M      &kp COMMA  &kp DOT  &kp FSLH         &kp RSHFT
                             &kp LCTRL  &kp LGUI  &kp SPACE        &kp ENTER           &kp LEFT_ALT       &kp BACKSPACE  &kp EQUAL  &kp GRAVE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mac_arrows {
            display-name = "arrow";
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans                              &cerr          &debug          &trans          &trans           &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &trans                              &trans         &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans                              &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans          &trans    &kp HOME  &kp PAGE_DOWN  &trans          &trans          &trans           &trans  &trans
                           &trans        &trans        &kp LEFT_SHIFT  &trans    &kp END   &trans         &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "m_arrow";
        };

        mac_nav {
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans                              &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans                              &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &trans                              &kp PAGE_UP    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans          &trans    &kp HOME  &kp PAGE_DOWN  &trans  &trans  &trans  &trans  &trans
                           &trans        &trans        &kp LEFT_SHIFT  &trans    &kp END   &trans         &trans  &trans
            >;

            label = "mac_nav";
        };

        mac_nav_rhs {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                          &trans           &trans         &trans         &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &trans           &trans         &trans         &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &trans           &kp RIGHT_WIN  &kp RIGHT_ALT  &kp RCTRL  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans           &trans         &trans         &trans     &trans  &trans
                        &trans  &trans  &mkp LCLK  &mkp RCLK    &trans  &kp RIGHT_SHIFT  &trans         &trans
            >;

            label = "m_rnav";
        };

        windows {
            bindings = <
&trans  &trans   &trans  &trans  &trans        &lt 10 N5                          &trans  &trans  &trans  &trans  &trans           &trans
&trans  &lt 6 Q  &trans  &trans  &trans        &trans                             &trans  &trans  &trans  &trans  &trans           &trans
&trans  &lt 7 A  &trans  &trans  &trans        &trans                             &trans  &trans  &trans  &trans  &lt 8 SEMICOLON  &trans
&trans  &lt 9 Z  &trans  &trans  &trans        &trans     &trans    &trans        &trans  &trans  &trans  &trans  &trans           &trans
                         &trans  &kp LEFT_ALT  &trans     &trans    &kp LEFT_WIN  &trans  &trans  &trans
            >;

            label = "windows";
        };

        phone {
            bindings = <
&kp ESC    &kp N1   &kp N2  &kp N3     &kp N4    &lt 10 N5                        &kp N6    &kp N7     &kp N8     &kp N9   &kp N0    &kp DEL
&kp TAB    &lt 6 Q  &kp W   &kp F      &kp P     &kp G                            &kp J     &kp L      &kp U      &kp Y    &kp SEMI  &kp BSLH
&kp SQT    &lt 7 A  &kp R   &kp S      &kp T     &kp D                            &kp H     &kp N      &kp E      &kp I    &kp O     &kp MINUS
&kp LSHFT  &lt 9 Z  &kp X   &kp C      &kp V     &kp B      &kp LBKT    &kp RBKT  &kp K     &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                            &kp LCTRL  &kp LALT  &kp SPACE  &kp RET     &kp LGUI  &kp BSPC  &kp EQUAL  &kp GRAVE
            >;

            label = "phone";
        };

        windows_arrows {
            label = "arrow";
            display-name = "arrow";
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans                              &cerr          &debug          &trans          &trans           &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &trans                              &trans         &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans                              &kp PAGE_UP    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans          &trans    &kp HOME  &kp PAGE_DOWN  &trans          &trans          &trans           &trans  &trans
                           &trans        &trans        &kp LEFT_SHIFT  &trans    &kp END   &trans         &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        windows_nav {
            label = "win_nav";
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans                              &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans                              &trans         &trans  &trans  &trans  &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_WIN  &kp LEFT_ALT  &trans                              &kp PAGE_UP    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans          &trans    &kp HOME  &kp PAGE_DOWN  &trans  &trans  &trans  &trans  &trans
                           &trans        &trans        &kp LEFT_SHIFT  &trans    &kp END   &trans         &trans  &trans
            >;
        };

        windows_nav_rhs {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans                          &trans           &trans        &trans        &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &trans           &trans        &trans        &trans     &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans                          &trans           &kp LEFT_ALT  &kp LEFT_WIN  &kp RCTRL  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans     &trans       &trans  &trans           &trans        &trans        &trans     &trans  &trans
                        &trans  &trans  &mkp LCLK  &mkp RCLK    &trans  &kp RIGHT_SHIFT  &trans        &trans
            >;

            label = "w_rnav";
        };

        numpad {
            display-name = "num";
            bindings = <
&to_mac    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5                     &kp F6  &kp F7        &kp F8        &kp F9        &kp F10  &kp F11
&to_win    &kp F15  &kp F16  &kp F17  &kp F18  &kp F19                    &trans  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans   &kp F12
&to_phone  &kp F20  &kp F21  &kp F22  &kp F23  &kp F24                    &trans  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans   &kp F13
&trans     &trans   &trans   &trans   &trans   &trans   &trans    &trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans   &f14_or_sleep
                             &trans   &trans   &trans   &trans    &trans  &trans  &kp NUMBER_0  &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "numpad";
        };

        media {
            bindings = <
&trans  &trans  &trans  &trans      &trans  &trans                                   &trans            &trans        &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans      &trans  &trans                                   &trans            &trans        &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans      &trans  &trans                                   &trans            &trans        &trans              &trans  &trans  &trans
&trans  &trans  &trans  &trans      &trans  &trans  &trans        &kp C_VOLUME_UP    &kp C_MUTE        &trans        &trans              &trans  &trans  &trans
                        &bt BT_CLR  &trans  &trans  &bt BT_NXT    &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_REWIND  &kp C_FAST_FORWARD
            >;

            label = "media";
        };
    };
};
