/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "mac";
            bindings = <
&kp ESC       &kp N1   &kp N2  &kp N3     &kp N4    &kp N5                                            &kp N6         &kp N7     &kp N8     &kp N9   &kp N0    &kp DELETE
&kp TAB       &lt 1 Q  &kp W   &kp E      &kp R     &kp T                                             &kp Y          &kp U      &kp I      &kp O    &kp P     &kp BACKSLASH
&kp CAPSLOCK  &lt 2 A  &kp S   &kp D      &kp F     &kp G                                             &kp H          &kp J      &kp K      &kp L    &kp SEMI  &kp MINUS
&kp LSHFT     &lt 4 Z  &kp X   &kp C      &kp V     &kp B      &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp N          &kp M      &kp COMMA  &kp DOT  &kp FSLH  &kp RSHFT
                               &kp LCTRL  &kp LGUI  &kp SPACE  &kp ENTER           &kp LEFT_ALT       &kp BACKSPACE  &kp EQUAL  &kp GRAVE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        mac_arrows {
            display-name = "arrow";
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans                                           &trans    &trans          &trans          &trans           &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &trans                                           &trans    &trans          &kp UP_ARROW    &trans           &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans                                           &trans    &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans          &trans            &kp PAGE_UP    &trans    &trans          &trans          &trans           &trans  &trans
                           &trans        &trans        &kp LEFT_SHIFT  &kp LEFT_SHIFT    &kp PAGE_DOWN  &kp HOME  &kp END         &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "arrow";
        };

        mac_nav {
            bindings = <
&trans  &trans  &trans     &trans        &trans        &trans                                           &trans    &trans   &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans                                           &trans    &trans   &trans  &trans  &trans  &trans
&trans  &trans  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_WIN  &trans                                           &trans    &trans   &trans  &trans  &trans  &trans
&trans  &trans  &trans     &trans        &trans        &trans          &trans            &kp PAGE_UP    &trans    &trans   &trans  &trans  &trans  &trans
                           &trans        &trans        &kp LEFT_SHIFT  &kp LEFT_SHIFT    &kp PAGE_DOWN  &kp HOME  &kp END  &trans
            >;

            label = "nav";
        };

        windows {
            bindings = <
&trans  &trans   &trans  &trans  &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &trans  &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans   &trans  &trans  &trans        &trans                          &trans  &trans  &trans  &trans  &trans  &trans
&trans  &lt 4 Z  &trans  &trans  &trans        &trans  &trans    &trans        &trans  &trans  &trans  &trans  &trans  &trans
                         &trans  &kp LEFT_ALT  &trans  &trans    &kp LEFT_WIN  &trans  &trans  &trans
            >;

            label = "windows";
        };

        numpad {
            display-name = "num";
            bindings = <
&to 3   &kp F1  &kp F2  &kp F3  &kp F4  &kp F5                    &kp F6        &kp F7        &kp F8        &kp F9        &kp F10  &kp F11
&trans  &trans  &trans  &trans  &trans  &trans                    &trans        &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &trans   &kp F12
&trans  &trans  &trans  &trans  &trans  &trans                    &trans        &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans        &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans   &trans
                        &trans  &trans  &trans  &trans    &trans  &kp NUMBER_0  &trans        &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};


